@model List<AppRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Create" asp-controller="Role" class="d-inline-block my-2">Yeni role ekle</a>
<table class="table table*hovered table-bordered table-sm">

    <thead>
        <tr>
            <td>İsim</td>
            <td>Oluşturulma zamanı</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreatedTime</td>
         

            </tr>

        }



    </tbody>

</table>

